@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Sansita+Swashed:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}


.navbar {
  border-bottom: 5px solid rgb(182, 24, 221);
  background-color: rgb(240, 193, 107);
  }

.nav-link {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
  border-bottom: 1px solid blue;
  padding-bottom: 5px;
}

.navbar-title {
  color: blue;
  font-family: "Sansita Swashed", sans-serif;
  font-size: 60px;
}

#logo {
  width: 120px;
  height: 120px;
}

main {
  display: flex;
  width: 100vw;
  background-image: url("Images/concept-de-groupe-de-bonheur-de-diversité-d-enfants-d-enfants-57341038.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  
}

.container {
border-radius: 20px;
display: grid;
justify-items: center;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: repeat(6, 1fr);

grid-template-areas: 
"tombola tombola tombola"
"tombola tombola tombola"
"tombola tombola tombola"
"calendar calendar calendar"
"calendar calendar calendar"
"calendar calendar calendar"
  }

.tombola {
  grid-area: tombola;
  background-color: rgba(0, 255, 255, 0.468);
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 300px;
  }

.tombola h2 {
    color: rgb(19, 11, 243);
    text-shadow: 2px 2px 2px #fff;
    margin-bottom: 25px;
    text-decoration: underline;
}

.tombola p {
  color: rgb(19, 11, 243);
  text-shadow: 2px 2px 2px #fff;
}

.calendar {
  grid-area: calendar;
  background-color: rgba(0, 255, 255, 0.468);
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 100px;
  }

.calendar h2 {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(153, 84, 218);
  box-shadow: 0 0 0 0 blueviolet;
  animation: pulse 1.3s infinite;
}
  
  @keyframes pulse {
    to{
      box-shadow: 0 0 0 15px rgba(138,43,226,0.01)
  }
  }

  .calendar h3 {
    color: #fff;
    text-shadow: 2.5px 2.5px 2.5px #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

.calendar p {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  font-size: larger;
  font-weight: bold;
}

#cal {
  color: crimson;
  font-weight: bold;
  font-style: italic;
}


@media screen and (max-width: 625px) {
  main {
    background-image: none;
    background-color: bisque;
}

.tombola {
  margin-bottom: 150px;
}
}